.header {
  width: 100%;
  margin-top: calc(39 / 12.8 * 1vw);
  display: flex;
  align-items: flex-start;
  column-gap: calc(20 / 12.8 * 1vw);
  padding-left: calc(70 / 12.8 * 1vw);
  padding-right: calc(70 / 12.8 * 1vw);
}

/* media section */

@media only screen and (max-width: 430px) {
  .header {
    width: 100%;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
    row-gap: calc(16 / 4.3 * 1vw);
  }
}
