.ourLocation {
  width: 100%;
  margin-top: calc(40 / 12.8 * 1vw);
}

.ourLocation > h1 {
  font-family: var(--text-fontHeading);
  font-size: calc(36 / 12.8 * 1vw);
  font-weight: 600;
  line-height: calc(37 / 12.8 * 1vw);
  color: #fff;
  margin-bottom: calc(20 / 12.8 * 1vw);
}

.ourLocationWrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  column-gap: calc(18 / 12.8 * 1vw);
}

.location {
  width: calc(561 / 12.8 * 1vw);
  height: calc(358 / 12.8 * 1vw);
  border-radius: calc(16 / 12.8 * 1vw);
  position: relative;
}

.location > iframe {
  width: 100%;
  height: 100%;
  border-radius: calc(16 / 12.8 * 1vw);
}

.locationItem {
  width: calc(250 / 12.8 * 1vw);
  height: calc(12 / 12.8 * 1vw);
  background: #000;
  position: absolute;
  border-radius: calc(16 / 12.8 * 1vw) calc(16 / 12.8 * 1vw) 0 0;
  bottom: 0;
  right: calc(40 / 12.8 * 1vw);
}

.address {
  display: flex;
  flex-direction: column;
  row-gap: calc(13 / 12.8 * 1vw);
}

.addressItem {
  width: calc(561 / 12.8 * 1vw);
  height: calc(173 / 12.8 * 1vw);
  background: #1a1919;
  border-radius: calc(16 / 12.8 * 1vw);
  padding: calc(33 / 12.8 * 1vw) calc(20 / 12.8 * 1vw) 0 calc(29 / 12.8 * 1vw);
}

.addressItem > h1 {
  width: calc(350 / 12.8 * 1vw);
  font-family: var(--text-fontHeading);
  font-size: calc(24 / 12.8 * 1vw);
  font-weight: 600;
  line-height: calc(25 / 12.8 * 1vw);
  color: #ffffff;
  margin-bottom: calc(10 / 12.8 * 1vw);
}

.addressDesc {
  width: 100%;
  display: flex;
  align-items: flex-start;
  column-gap: calc(20 / 12.8 * 1vw);
}

.addressDescItem > p:first-child {
  font-family: var(--text-fontFamily);
  font-size: calc(16 / 12.8 * 1vw);
  font-weight: 400;
  line-height: calc(20 / 12.8 * 1vw);
  color: #ffffff80;
}

.addressDescItem > p:last-child,
.addressDescItem > p:last-child > a {
  font-family: var(--text-fontFamily);
  font-size: calc(14 / 12.8 * 1vw);
  font-weight: 400;
  line-height: calc(16 / 12.8 * 1vw);
  color: #fff;
  margin-top: calc(5 / 12.8 * 1vw);
}

.addressDescItem:first-child > p:last-child {
  width: calc(192 / 12.8 * 1vw);
}

.addressDescItem > p:last-child > a {
  transition: all 0.2s ease;
}

.addressDescItem > p:last-child:hover > a {
  color: #fbde23;
}

/* media section from 430px to 0 */

@media only screen and (max-width: 430px) {
  .ourLocation {
    width: 100%;
    margin-top: calc(35 / 4.3 * 1vw);
  }

  .ourLocation > h1 {
    font-size: calc(24 / 4.3 * 1vw);
    line-height: calc(25 / 4.3 * 1vw);
    margin-bottom: calc(14 / 4.3 * 1vw);
  }

  .ourLocationWrapper {
    width: 100%;
    flex-direction: column-reverse;
    row-gap: calc(10 / 4.3 * 1vw) !important;
  }

  .location {
    width: calc(378 / 4.3 * 1vw);
    height: calc(236 / 4.3 * 1vw);
    border-radius: calc(14 / 4.3 * 1vw);
  }

  .location > iframe {
    border-radius: calc(14 / 4.3 * 1vw);
  }

  .locationItem {
    width: calc(165 / 4.3 * 1vw);
    height: calc(10 / 4.3 * 1vw);
    border-radius: calc(14 / 4.3 * 1vw) calc(13 / 4.3 * 1vw) 0 0;
    bottom: 0;
    right: calc(20 / 4.3 * 1vw);
  }

  .address {
    row-gap: calc(8 / 4.3 * 1vw);
  }

  .addressItem {
    width: calc(378 / 4.3 * 1vw);
    height: calc(114 / 4.3 * 1vw);
    border-radius: calc(16 / 4.3 * 1vw);
    padding: calc(21 / 4.3 * 1vw) calc(29 / 4.3 * 1vw) 0 calc(20 / 4.3 * 1vw);
  }

  .addressItem > h1 {
    width: calc(300 / 4.3 * 1vw);
    font-size: calc(20 / 4.3 * 1vw);
    line-height: calc(21 / 4.3 * 1vw);
    margin-bottom: calc(5 / 4.3 * 1vw);
  }

  .addressDesc {
    column-gap: calc(15 / 4.3 * 1vw);
  }

  .addressDescItem > p:first-child {
    font-size: calc(10 / 4.3 * 1vw);
    line-height: calc(12 / 4.3 * 1vw);
  }

  .addressDescItem > p:last-child,
  .addressDescItem > p:last-child > a {
    font-family: var(--text-fontFamily);
    font-size: calc(9 / 4.3 * 1vw);
    line-height: calc(10 / 4.3 * 1vw);
    margin-top: calc(3 / 4.3 * 1vw);
  }

  .addressDescItem:first-child > p:last-child {
    width: calc(90 / 4.3 * 1vw);
  }
}
